
.box1 {
  background-color: paleVioletRed;
}

.box2 {
  background-color: lavender;
}

.box3 {
  background-color: lightGreen;
}

.box4 {
  background-color: paleTurquoise;
}

.box5 {
  background-color: royalBlue;
}

.box6 {
  background-color: orchid;
}

.box7 {
  background-color: powderBlue;
}
